@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    color: #40514E;
    margin: 0;
    font-family: 'Merriweather',serif;  
}
.logo{
    background-color: #1B262C;
    padding-top: 20px;
}
.logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.logo a span{
    color: orange;
}
h1{
    margin: 85px auto 0 auto;
    font-family: 'Sacramento',cursive;
    font-size: 5.625rem;
    color: orange;}
h2{
    font-family: 'Montserat',sans-serif;
    font-size: 1.8rem;
    color: orange;
    padding-bottom: 10px;
}
h3{  
    font-family: 'Montserat',sans-serif;
    color: #F05941;
}
p{
    line-height: 2;
}
.top-container{
    display: block;
    text-align: center;
    background-color: #1B262C;
    position: relative;
    padding-top: 150px;
    padding-bottom: 319px;
}
.middle-container{
    display: block;
    margin: auto;
    padding: 20px;
    position: relative;
    height: 640px;
    /* width: auto; */
    /* position: relative; */
    background-image: linear-gradient(to top right, rgb(66, 66, 66), rgb(192, 117, 5));
}
.bottom-container{
  text-align: center;
  background-color: black;
  padding: 20px 0 20px;
}
.name{
    position: absolute;
    margin: auto;
    top: 200px;
    color: red;
}
.bottom-cloud{
    position: absolute;
    left: 100px;
    bottom: 150px;
}
.top-cloud{
    position: absolute;
    right: 150px;
    top: 70px;
}
.pic{
    display: block;
    margin-left: 150px;
    margin-top: 100px;
    width: 30%;
    position: absolute;
    /* border: 2px solid red; */
    /* position: relative;
    top: 80px;
    right: 2px; */
} 
.hello{
    font-family: 'Sacramento',cursive; 
    font-size: 60px;
    margin: 50px auto 0px;
    /* position: relative;
    top: 20px; */
}
.intro{
    font-size: 20px;
    width: 70%;
    margin: 20px auto;
    line-height: 50px;
    position: relative;
    bottom: 20px;
}
.glass{ 
    display: inline-block;
    margin-top: 100px;
    margin-left: 800px;
    width: 30%;
    height: 400px;
    /* padding: 40px; */
    background-color: rgba(255,255,255,0.30);
    border-radius: 100px;
    backdrop-filter: blur(30px);
    /* position: relative;
    top: -230px;
    left: 800px; */
    text-align: center;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
footer{
    background: black;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
#rights{
    color: #ffb340;
}
.btn {
    border-radius: 5px;
    color: orange;
    background: black;
    padding: 10px 20px 10px 20px;
    border: solid orange 1px;
    font-family: 'Montserat',sans-serif;
    text-decoration: none;
    margin: 20px;
  }
.btn:hover {
    color: black;
    background: orange;
  }
.head{
    font-family: 'Montserat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

